{
  "env": {
    "development": {
      "presets": [["react-app", { "flow": false, "typescript": true }]]
    },
    "production": {
      "presets": ["react-app"]
    },
    "publish": {
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
          "@babel/plugin-proposal-object-rest-spread",
          {
            "useBuiltIns": true
          }
        ]
      ],
      "presets": [
        ["@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 versions",
                "ie >= 9"
              ]
            },
            "loose": true
          }
        ],
        "@babel/preset-react"
      ]
    },
    "test": {
      "presets": ["react-app"]
    }
  }
}
