.so-transfer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.so-transfer-card {
  display: inline-block;
  min-width: 200px;
}
.so-transfer-card-header {
  padding: 8px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.so-transfer-card-header-title {
  padding: 2px 0 0 0;
}
.so-transfer-card-body {
  padding: 2px 0;
  overflow: hidden;
  height: 180px;
  z-index: 1;
}
.so-transfer-card-body .so-transfer-body-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
.so-transfer-card-footer {
  padding: 0;
}
.so-transfer-item {
  width: 100%;
  cursor: pointer;
}
.so-transfer-item-check {
  width: 100%;
  margin-right: 0;
  padding: 6px 0 6px 12px;
}
.so-transfer-item-check i.so-checkinput-indicator + span {
  vertical-align: top;
}
.so-transfer-item:hover {
  background-color: var(--select-option-hover-bg, #f5f5f5);
}
.so-transfer-item-disabled {
  color: var(--gray-500, #adb5bd);
}
.so-transfer-item-disabled:hover {
  background-color: transparent;
  color: var(--gray-500, #adb5bd);
}
.so-transfer-btns {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.so-transfer-btns-bottom {
  margin-bottom: 4px;
}
.so-transfer-btns-button {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.so-transfer-btns-button > svg {
  height: 18px;
  width: 10px;
  fill: #fff;
}
.so-transfer-btns-button[disabled] > svg {
  fill: rgba(0, 0, 0, 0.25);
}
.so-transfer-filter {
  padding: 10px 12px 8px;
}
.so-transfer-empty {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  color: var(--gray-500, #adb5bd);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.so-transfer.so-transfer-rtl {
  direction: rtl;
  text-align: right;
}
.so-transfer.so-transfer-rtl .so-transfer-btns-button > svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.so-transfer.so-transfer-rtl .so-transfer-item-check {
  margin-left: 0;
  padding: 6px 12px 6px 0;
}
