.so-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: var(--card-border-width, 1px) solid var(--card-border-color, #ddd);
  background-clip: border-box;
  background-color: #fff;
  border-radius: var(--panel-border-radius, 4px);
  word-wrap: break-word;
  color: var(--card-color, 'inherit');
  font-size: var(--card-font-size, 'inherit');
}
.so-card-hover:hover,
.so-card-shadow {
  -webkit-box-shadow: var(--card-box-shadow, 0 2px 8px rgba(0, 0, 0, 0.1));
          box-shadow: var(--card-box-shadow, 0 2px 8px rgba(0, 0, 0, 0.1));
}
.so-card-header:after,
.so-card-footer:after {
  content: ' ';
  height: var(--card-divider-height, 1px);
  background: var(--card-divider-color, #ddd);
  position: absolute;
  width: var(--card-divider-width, 100%);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.so-card-header {
  position: relative;
  z-index: 10;
  padding: var(--panel-header-padding-vertical, 16px) var(--panel-header-padding-horizontal, 24px);
  background-color: var(--card-header-bg, #fff);
  color: var(--card-header-color, 'inherit');
}
.so-card-header:after {
  bottom: 0;
}
.so-card-header .so-card-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
}
.so-card-header-rtl.so-card-header .so-card-indicator {
  margin-right: 0;
  margin-left: 10px;
}
.so-card-header .so-card-indicator svg {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
.so-card-collapsible .so-card-header {
  cursor: pointer;
  margin-bottom: -1px;
}
.so-card-collapsed {
  overflow: hidden;
}
.so-card-collapsed .so-card-indicator svg {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.so-card-rtl.so-card-collapsed .so-card-indicator svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.so-card-accordion {
  margin-bottom: -1px;
}
.so-card-accordion .so-card-header {
  background: var(--gray-100, #f8f9fa);
  margin-bottom: -1px;
}
.so-card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: var(--panel-body-padding-vertical, 16px) var(--panel-body-padding-horizontal, 24px);
  position: relative;
}
.so-card-body:hover .so-card-foldup {
  background: var(--gray-300, #dee2e6);
}
.so-card-body:hover .so-card-foldup > span {
  margin-bottom: 1px;
  border-bottom-color: #fff;
}
.so-card-body .so-card-foldup {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}
.so-card-body .so-card-foldup > span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  margin-bottom: 2px;
  border-top: 0;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ddd;
  border-left: 6px solid transparent;
}
.so-card-footer {
  position: relative;
  padding: var(--panel-footer-padding-vertical, 16px) var(--panel-footer-padding-horizontal, 24px);
  background-color: var(--card-footer-bg, #fff);
  color: var(--card-footer-color, 'inherit');
}
.so-card-footer:after {
  top: 0;
}
.so-card-center {
  text-align: center;
}
.so-card-right {
  text-align: right;
}
.so-card > .so-card-header {
  border-radius: var(--panel-border-radius, 4px) var(--panel-border-radius, 4px) 0 0;
}
.so-card > .so-card-footer {
  border-radius: 0 0 var(--panel-border-radius, 4px) var(--panel-border-radius, 4px);
}
