@import './default.less';

@colors-blue:            #1890ff;
@colors-green:           #52c41a;
@colors-cyan:            #1890ff;
@colors-yellow:          #faad14;
@colors-red:             #f5222d;



@state-success-text:             rgba(0, 0, 0, 0.65);
@state-success-bg:               #f6ffed;
@state-success-border:           #b7eb8f;

@state-info-text:                rgba(0, 0, 0, 0.65);
@state-info-bg:                  #e6f7ff;
@state-info-border:              #91d5ff;

@state-warning-text:             rgba(0, 0, 0, 0.65);
@state-warning-bg:               #fffbe6;
@state-warning-border:           #ffe58f;

@state-danger-text:              rgba(0, 0, 0, 0.65);
@state-danger-bg:                #fff1f0;
@state-danger-border:            #ffa39e;

// Alert 
@alert-padding-y:                8px;

// Button
@btn-padding-x:                  15px;
@btn-padding-y:                  5px;
@btn-default-border:             #d9d9d9;
@btn-primary-border:             @colors-primary;
@btn-warning-border:             @colors-warning;
@btn-success-border:             @colors-success;
@btn-info-border:                @colors-info;
@btn-danger-border:              @colors-danger;
@btn-hover-darken:               -5%;