@import './default.less';

@brand-primary:         #1890ff;
@brand-success:         #52c41a;
@brand-info:            #1890ff;
@brand-warning:         #faad14;
@brand-danger:          #f5222d;

@text-color:             @brand-danger;