@import './bootstrap.less';


@colors-primary-value: #3399ff;

:root {
  --primary-color: @colors-primary-value;
  --primary-color-dark-5: darken(@colors-primary-value, 5%);
  --primary-color-dark-15: darken(@colors-primary-value, 15%);
  --primary-color-dark-btn-hover: darken(@colors-primary-value, @btn-hover-darken);
  --primary-color-lighten-40: lighten(@colors-primary-value,40%);
  --primary-color-fade-60: fade(@colors-primary-value, 60%);
  --primary-color-fade-50: fade(@colors-primary-value, 50%);
  --primary-color-fade-10: fade(@colors-primary-value, 10%);
  --primary-color-fade-0: fade(@colors-primary-value, 0);
  --primary-color-dark-5_fade-60: fade(darken(@colors-primary-value, 5%), 60%);
  --primary-color-dark-5_fade-0: fade(darken(@colors-primary-value, 5%), 0%);
  --btn-hover-darken: @btn-hover-darken;
}

@colors-primary: var(--primary-color, @colors-primary-value);
@colors-blue: #3399ff;
@colors-secondary: #999999;
@colors-success: #00cc66;
@colors-warning: #ff9900;
@colors-danger: #f85555;

@breadcrumb-bg: transparent;

@btn-border-radius-base: 3px;
@btn-border-radius-large: 4px;

@select-option-hover-color: @colors-primary;
@select-option-hover-bg: none;
