@import './bootstrap.less';
@import './cssvar.less';

@colors-blue: #3399ff;
@colors-primary-value: #3399ff;
@colors-primary: var(--primary-color, @colors-primary-value);

@colors-secondary-value: #999999;
@colors-secondary: var(--secondary-color, @colors-secondary-value);

@colors-success-value: #00cc66;
@colors-success: var(--success-color, @colors-success-value);

@colors-info-value: @colors-cyan;
@colors-info: var(--info-color, @colors-info-value);

@colors-warning: #ff9900;
@colors-danger: #f85555;

@breadcrumb-bg: transparent;

@btn-border-radius-base: 3px;
@btn-border-radius-large: 4px;

@select-option-hover-color: @colors-primary;
@select-option-hover-bg: none;
