@import './variables.less';
@import './themes/@{so-theme}.less';

@breadcrumb-prefix:  ~"@{so-prefix}-breadcrumb";

//
// Breadcrumbs
// --------------------------------------------------


.@{breadcrumb-prefix} {
  list-style: none;
  background-color: @breadcrumb-bg;
  border-radius: @border-radius-base;
  font-size: @font-size-base;
  a {
    display: inline-block;
    color: @breadcrumb-a-color;
    margin: 0 @breadcrumb-padding-vertical;

    &:last-child {
      color: @breadcrumb-active-color;
    }
  }

  a:hover {
    color: @colors-primary;
  }
}