@import './variables.less';
@import './themes/@{so-theme}.less';

@cascader-prefix: ~'@{so-prefix}-cascader';

.@{cascader-prefix} {
  position: relative;
  width: 100%;

  &:focus {
    outline: none;
  }

  &-result {
    cursor: pointer;
    // position: relative;
    display: flex;
    max-height: 105px;
    flex-flow: wrap;
    padding: @padding-base-vertical @padding-base-horizontal+12 0 @padding-base-horizontal;
    overflow-y: auto;

    .@{so-prefix}-input-placeholder {
      color: @input-color-placeholder;
    }

    span,
    .@{cascader-prefix}-item {
      display: inline-block;
      overflow: hidden;
      max-width: 80%;
      padding: 0 @select-result-space;
      margin-right: @select-result-space;
      margin-bottom: @padding-base-vertical;
      border-radius: @select-result-border-radius;
      color: inherit;
      text-overflow: ellipsis;

      &-compressed {
        padding: 0 8px;
        font-size: 80%;
        opacity: .9;
        > span {
          vertical-align: middle;
          letter-spacing: 2px;
          padding: 0;
          margin: 0;
          overflow: visible;
          max-width: none;
        }
      }

      &:after {
        content: '\feff ';
      }
    }

    .@{cascader-prefix}-item {
      background: @select-result-bg;
    }
  }

  &-disabled &-result {
    cursor: not-allowed;
  }

  &-focus &-close,
  &-result:hover &-close {
    display: block;
  }

  &-multiple {
    .@{cascader-prefix}-close {
      right: 19px;
    }
  }

  &-options {
    width: auto;
    align-items: stretch;
  }

  &-focus &-options {
    display: inline-flex;
  }

  &-no-data {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    padding: @dropdown-item-padding-y @dropdown-padding-x+12 @dropdown-item-padding-y @dropdown-padding-x;
    color: @gray-500;
    font-size: @font-size-base;
    line-height: @line-height-base;
    text-overflow: ellipsis;
    transition: none;
    white-space: nowrap;
    &:hover {
      color: @dropdown-link-active-color;
    }
  }

  &-list {
    display: inline-block;
    min-width: 120px;
    height: 100%;
    border-right: solid 1px @gray-200;
    overflow-y: auto;
    vertical-align: top;
  }

  &-node {
    position: relative;
    padding: @dropdown-item-padding-y @dropdown-padding-x+16 @dropdown-item-padding-y @dropdown-padding-x;
    color: @dropdown-link-color;
    white-space: nowrap;

    &:hover {
      background-color: @dropdown-link-hover-bg;
    }

    &.@{cascader-prefix}-disabled {
      color: @gray-400;
      cursor: not-allowed;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &-loading {
    position: absolute;
    top: 10px;
    right: 12px;
  }

  &-has-children,
  &-may-be-children {
    .caret(down);

    &:after {
      position: absolute;
      top: 50%;
      right: 12px;
      transform: @menu-title-vertical-transform;
    }
  }

  &-may-be-children:after {
    color: @gray-300;
  }

  &-active {
    background-color: @dropdown-link-active-bg;
    color: @dropdown-link-active-color;
    font-weight: bold;
    text-decoration: none;
  }
}
