@import './variables.less';
@import './themes/@{so-theme}.less';

@types: primary, warning, danger, success, secondary;
@attrs: background, color, border;

.borderMixin(@attr, @type) when (@attr = border){
  @color-var-name: %('colors-%s', @type);
  border-color: @@color-var-name;
}
.backgroundMixin(@attr, @type) when (@attr = background){
  @color-var-name: %('colors-%s', @type);
  background-color: @@color-var-name;
}
.colorMixin(@attr, @type) when (@attr = color){
  @color-var-name: %('colors-%s', @type);
  color: @@color-var-name;
}
.generate-attrs(@data, @n, @type, @i: 1) when (@i =< @n) {
  @name: extract(@attrs, @i);
  &-@{name} {
    .borderMixin(@name, @type);
    .backgroundMixin(@name, @type);
    .colorMixin(@name, @type);
  }
  .generate-attrs(@data, @n, @type, (@i + 1));
}
.generate-types(@data, @n, @i: 1) when (@i =< @n) {
  @name: extract(@types, @i);
  &-@{name} {
    .generate-attrs(@attrs, 3, @name)
  }
  .generate-types(@data, @n, (@i + 1));
}
.generate-location(@data, @n, @i: 1) when(@i =< @n){
  @name: extract(@types, @i);
  @color-var-name: %('colors-%s', @name);
  &-location-@{name} {
    color: @@color-var-name;
    display: none;
    position: absolute;
  }
  .generate-location(@data, @n, (@i + 1));
}

.loop-gray(@n, @i: 1) when(@i =< @n){
  @var-name: %('gray-%s00', @i);
  &-gray-@{i}00 {
    color: @@var-name;
  }
  .loop-gray(@n, (@i + 1));
}

@expose-prefix: ~'@{so-prefix}-expose';

.@{expose-prefix} {
  .generate-location(@types, 5);
  .generate-types(@types, 5);
  &-table {
    color: @table-color;
    &-head {
      font-weight: @table-head-font-weight;
      background: @table-head-bg;
      border-radius: @table-border-radius-top @table-border-radius-top 0 0;
      color: @table-head-color;
      border-color: @table-border-color;
      &-hover {
        background: @table-bg-hover;
      }
    }
  }
  &-select {
   &-result-item {
     background: @select-result-bg;
     padding: @select-result-padding-vertical @select-result-space-16 @select-result-padding-vertical @select-result-space;
   }
    &-option {
      &-hover {
        background: @select-option-hover-bg;
        color: @select-option-hover-color;
      }
    }
  }
  &-datepicker-month{
    &-item {
      border-radius: @datepicker-rect-active-border-radius-value;
    }
  }
  &-slider {
    &-bar {
      background: @slider-bar-color;
    }
    &-indicator {
      background: @slider-indicator-bg;
      width: @slider-indicator-size;
    }
    &-value {
      height: @slider-value-bottom;
    }
  }
  &-menu {
    &-dark {
      background: @menu-dark-bg;
      color: @menu-dark-item;
      &-active {
        background: @menu-dark-active-bg;
      }
    }
    &-active {
      background: @menu-item-active-bg;
      color: @menu-item-active-color;
      border-radius: @menu-active-border-radius;
      padding: @menu-active-padding-vertical @menu-active-padding-horizontal;
    }
  }
  &-form {
    &-inline {
      margin-right: @form-inline-margin-right;
    }
    &-tip {
      color: @form-tip-color;
    }
  }
  .loop-gray(9);
  &-button {
    margin-left: @button-margin-left;
  }
  &-input {
    &-focus {
      border-color: @input-border-focus;
    }
  }
  &-radio {
    width: @radio-width;
    border: @radio-border-width solid #fff;
    &-inner {
      width: @radio-inner-width;
    }
  }
  &-pagination {
    &-hover {
      border-color: @pagination-hover-border;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
    }
  }
  &-modal {
    &-icon {
      width: @modal-icon-size;
    }
  }
  &-tag {
    &-close {
      color: @tag-close-color;
    }
  }
}
