@import './variables.less';
@import './themes/@{so-theme}.less';

@form-prefix: ~"@{so-prefix}-form";
@input-prefix: ~"@{so-prefix}-input";

.@{form-prefix} {
  position: relative;

  &-item {
    display: flex;
    align-items: baseline;
    margin-bottom: @form-group-margin-bottom;

    .@{form-prefix}-label {
      display: inline-block;
      width: 140px;
      word-break: break-all;
      padding-top: @padding-base-vertical;
      padding: 0 @form-item-padding-x;
    }

    &.@{form-prefix}-required .@{form-prefix}-label {
      &:before {
        content: '*';
        font-family: SimSun;
        margin-right: 4px;
        color: @colors-danger;
      }
    }

    .@{form-prefix}-control {
      flex: 1;
      padding: 0 @form-item-padding-x;
    }

    .@{form-prefix}-tip {
      font-size: @form-help-font-size;
      margin-top: 5px;
      color: lighten(@text-color, 40%);
    }
  }

  &-label-align-right &-item &-label {
    text-align: right;
  }

  &-label-align-top &-item {
    display: block;
    width: 100%;

    .@{form-prefix}-label {
      padding: 0;
      width: 100%;
      margin-bottom: @form-item-padding-x;
    }

    .@{form-prefix}-control {
      padding: 0;
    }
  }

  &-inline {
    .@{input-prefix} {
      display: inline-block;
      display: inline-flex;
      vertical-align: middle;
      width: auto;
      margin-right: @form-item-padding-x * 2;
    }

    .@{input-prefix}-group {
      display: inline-block;
      display: inline-flex;
    }

    .@{form-prefix}-item {
      display: inline-block;
      display: inline-flex;
      vertical-align: middle;

      .@{form-prefix}-label {
        padding: 0;
        margin-right: @form-item-padding-x;
        width: auto;
      }

      .@{form-prefix}-control {
        padding: 0;
        display: inline-block;
      }
    }

    & > * {
      margin-bottom: @form-inline-margin-bottom;
    }
  }
}

.@{input-prefix} {
  .input-focus(@color: @input-border-focus) {
    @color-rgba: rgba(red(@color), green(@color), blue(@color), .25);

    border-color: @color;
    box-shadow: 0 0 0 @input-focus-width @color-rgba;
  }

  display: block;
  position: relative;
  width: 100%;
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none;
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

  &:hover {
    border-color: @input-border-focus;
  }

  &-group {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .@{input-prefix} + .@{input-prefix} {
      border-left-width: 1px;
    }

    button {
      border-width: 0;
    }

    & > span, & > i {
      display: block;
      margin: auto 0;
      background: transparent;

      &:first-child {
        padding-left: @padding-base-horizontal;
      }

      &:last-child {
        padding-right: @padding-base-horizontal;
      }
    }

    & > b {
      margin: 0;
      border: 1px solid @input-border;
      border-width: 0 1px;
      margin-left: -1px;
      display: flex;
      align-items: center;
      background: @input-group-addon-bg;
      padding: 0 @padding-base-horizontal;
      font-weight: normal;

      &:first-child {
        border-left-width: 0;
        margin-left: 0;
        border-top-left-radius: @input-border-radius;
        border-bottom-left-radius: @input-border-radius;
      }
      &:last-child {
        border-right-width: 0;
        border-top-right-radius: @input-border-radius;
        border-bottom-right-radius: @input-border-radius;
      }
    }
  }

  .@{input-prefix} {
    width: auto;
    flex: 1;
    background: transparent;
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
    border-color: @input-border;
  }

  @tip-fade: ~"@{input-prefix}-fade";
  @tip-fade-center: ~"@{input-prefix}-fade-center";

  @keyframes @tip-fade-center {
    0% { transform: scale(0.6) translateX(-50%); }
    100% { transform: scale(1) translateX(-50%); }
  }

  @keyframes @tip-fade {
    0% { transform: scale(0.6); }
    100% { transform: scale(1); }
  }

  &-tip, &-error {
    position: absolute;
    z-index: 1000;
    font-size: 12px;
    color: lighten(@text-color, 40%);
    background: @gray-100;
    padding: @padding-base-vertical @padding-base-horizontal;
    min-width: 200px;
    max-width: 400px;
    border-radius: @input-border-radius;
    box-shadow: 0 0 0 1px @input-border, 0 2px 8px rgba(0, 0, 0, 0.15);

    &:before {
      content: ' ';
      background: inherit;
      position: absolute;
      width: 6px;
      height: 6px;
      border: solid 1px @input-border;
      border-width: 1px 0 0 1px;
    }

    &.@{input-prefix}-bottom-left,
    &.@{input-prefix}-bottom,
    &.@{input-prefix}-bottom-right {
      top: 100%;
      margin-top: 8px;
      transform-origin: 0 0;
      &:before {
        bottom: 100%;
        transform: rotate(45deg) translateY(3px);
      }
    }

    &.@{input-prefix}-top-left,
    &.@{input-prefix}-top,
    &.@{input-prefix}-top-right {
      bottom: 100%;
      margin-bottom: 8px;
      transform-origin: 0 100%;
      &:before {
        top: 100%;
        transform: rotate(225deg) translate(3px);
      }
    }

    &.@{input-prefix}-bottom, &.@{input-prefix}-top {
      left: 50%;
      transform: translateX(-50%);
      animation: @tip-fade-center 0.216s ease-in;
      &:before {
        left: 50%;
      }
    }

    &.@{input-prefix}-bottom-left, &.@{input-prefix}-top-left {
      left: 0;
      animation: @tip-fade 0.216s ease-in;
    }

    &.@{input-prefix}-bottom-right, &.@{input-prefix}-top-right {
      right: 0;
      animation: @tip-fade 0.216s ease-in;
      &:before {
        right: @padding-base-horizontal - 3;
      }
    }

    &.@{input-prefix}-bottom-right {
      transform-origin: 100% 0;
    }

    &.@{input-prefix}-top-right {
      transform-origin: 100% 100%;
    }
  }

  &-focus {
    .input-focus();
  }

  &-small {
    padding: @padding-small-vertical @padding-small-horizontal;
    font-size: @font-size-small;
  }

  &-large {
    padding: @padding-large-vertical @padding-large-horizontal;
    font-size: @font-size-large;
  }

  &-no-border {
    border-width: 0;

    &.@{input-prefix}-focus {
      box-shadow: none;
    }
  }

  input {
    width: 100%;
    border: 0;
    outline: none;
    padding: 0;
    line-height: 1;

    &::placeholder {
      color: @input-color-placeholder;
    }
  }
}