@import './variables.less';

@hidable-prefix: ~"@{so-prefix}-hidable";

.@{hidable-prefix} {
  &-collapse, &-fade {
    transition: 0.216s ease-out;
  }

  &-collapse, &-collapse-fade {
    height: 0;

    &.@{hidable-prefix}-show {
      height: 80px;
    }
  }

  &-fade, &-collapse-fade {
    opacity: 0;

    &.@{hidable-prefix}-show {
      opacity: 1;
    }
  }
}
