@import './variables.less';
@import './themes/@{so-theme}.less';

@select-prefix: ~'@{so-prefix}-select';

.@{select-prefix} {
  position: relative;

  &-inner {
    width: 100%;
    outline: none;
  }

  &-result {
    display: flex;
    overflow: auto;
    max-height: 80px;
    flex-flow: wrap;
    cursor: pointer;
    padding: @padding-base-vertical @padding-base-horizontal+12 0 @padding-base-horizontal;

    span {
      display: inline-block;

      &.@{select-prefix}-ellipsis {
        display: block;
        overflow: hidden;
        flex: 1;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .@{select-prefix}-ellipsis {
      margin-bottom: @padding-base-vertical;

      &:after {
        content: '\feff ';
      }
    }

    .@{select-prefix}-input {
      display: inline-flex;
      min-width: 12px;
      flex: 1;
      margin-bottom: @padding-base-vertical;
      outline: none;
      cursor: text;

      &:after {
        content: '\feff ';
      }

      &.@{select-prefix}-full {
        display: block;
      }
    }

    .@{select-prefix}-item {
      position: relative;
      display: inline-block;
      overflow: hidden;
      max-width: 80%;
      padding: @select-result-padding-vertical @select-result-space-16 @select-result-padding-vertical @select-result-space;
      margin-right: @select-result-space;
      margin-bottom: @padding-base-vertical;
      background: @select-result-bg;
      border-radius: @select-result-border-radius;
      color: inherit;
      text-overflow: ellipsis;

      &:after {
        content: '\feff ';
      }

      &-compressed {
        padding: 0 8px;
        font-size: 80%;
        opacity: .9;
        text-overflow: unset;
        transition: none;
        > span {
          vertical-align: middle;
          letter-spacing: 2px;
        }
      }
      &-more {
        background: @primary-color-fade-60;
        color: #fff;
      }

      &.@{select-prefix}-disabled {
        padding-right: @select-result-space;
        cursor: not-allowed;
      }

      .@{select-prefix}-close {
        right: @select-result-space;
        display: block;
        background-color: transparent;

        &:before,
        &:after {
          background-color: @gray-500;
          width: 8px;
        }

        &:hover {
          background-color: transparent;

          &:before,
          &:after {
            background-color: @gray-600;
          }
        }
      }
    }
  }

  &-compressed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .@{select-prefix}-ban {
      padding-right: @select-result-space;
    }
  }

  &-close-warpper {
    position: absolute;
    top: 50%;
    right: 7px;
    display: block;
    width: 18px;
    height: 18px;
    transform: translate(0, -50%);

    .@{select-prefix}-indicator {
      right: 2px;
    }
  }

  &-indicator {
    position: absolute;
    top: 50%;
    right: 7px;
    display: block;
    width: 12px;
    height: 12px;
    color: @gray-500;
    margin-top: -5px;

    &.@{select-prefix}-close {
      display: none;
      .close(12px, @gray-400-darken-20);
    }

    &.@{select-prefix}-caret {
      transition: transform .3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
      .dropdown-svg(@gray-500-value);
    }
  }

  &-focus &-close,
  &-result:hover &-close {
    display: block;
  }
  &-focus .@{select-prefix}-caret {
    transform: rotate(180deg);
  }

  &-options,
  &-box-list {
    position: absolute;
    z-index: @zindex-dropdown;
    left: 0;
    display: none;
    overflow: hidden;
    width: 100%;
    background: @dropdown-bg;
    background-clip: padding-box;
    border-radius: @border-radius-base;
  }

  &-tree {
    width: auto;
    min-width: 100%;
    .@{select-prefix}-tree-wrapper {
      padding: 8px 8px 4px 8px;

      .@{so-prefix}-tree-node {
        &:last-child > div {
          padding-bottom: 4px;
        }
      }
      .@{so-prefix}-tree-content {
        color: @gray-600;
        white-space: nowrap;
        cursor: default;

        .@{select-prefix}-tree-node {
          display: block;
          padding: 0 4px;
          border-radius: 2px;

          &:hover {
            background-color: @primary-color-fade-10;
          }

          &.@{select-prefix}-selected {
            background-color: @primary-color-fade-60;
            color: white;
          }
          &.@{select-prefix}-disabled {
            padding-right: @select-result-space;
            cursor: not-allowed;
            background: @input-bg-disabled;
          }
        }
      }
    }
  }

  &-box-list {
    display: flex;
    overflow: hidden;
    min-height: 200px;
    max-height: 300px;
    flex-direction: column;

    .@{select-prefix}-header {
      padding: @dropdown-item-padding-y @dropdown-padding-x;
      border-bottom: solid 1px #eee;
    }

    .@{select-prefix}-box-options {
      overflow: auto;
      flex: 1;
      padding: @dropdown-item-padding-y 0;

      .@{select-prefix}-no-data {
        padding-top: 60px;
        color: @gray-500;
        text-align: center;
      }
    }

    .@{select-prefix}-option {
      display: inline-block;
      padding-right: @dropdown-padding-x;
      margin-right: 0;
    }

    .@{select-prefix}-filter-input {
      display: inline-flex;
      width: 180px;
      border-width: 1px;
      border-radius: 2px;
      float: right;

      svg {
        width: 22px;
        height: 22px;
        padding: 4px;

        path {
          fill: #999;
        }
      }
    }
  }

  &-drop-down &-options,
  &-drop-down &-box-list {
    top: 100%;
    margin-top: 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), @dropdown-box-shadow;
    transform-origin: 0 0;
  }

  &-drop-up &-options,
  &-drop-up &-box-list {
    bottom: 100%;
    margin-bottom: 4px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), @dropup-box-shadow;
    transform-origin: 0 100%;
  }

  &-option {
    position: relative;
    display: block;
    overflow: hidden;
    padding: @dropdown-item-padding-y @dropdown-padding-x+12 @dropdown-item-padding-y @dropdown-padding-x;
    color: @dropdown-link-color;
    font-size: @font-size-base;
    line-height: @line-height-base;
    text-overflow: ellipsis;
    transition: none;
    white-space: nowrap;

    &.@{select-prefix}-active {
      background-color: @dropdown-link-active-bg;
      color: @dropdown-link-active-color;
      text-decoration: none;

      > svg {
        position: absolute;
        top: 50%;
        right: 8px;
        width: 12px;
        height: 12px;
        fill: @colors-primary;
        transform: translateY(-50%);
      }
    }

    &:hover {
      background-color: @select-option-hover-bg;
      color: @select-option-hover-color
    }

    &.@{select-prefix}-disabled {
      &,
      &:hover,
      &.@{select-prefix}-active {
        background: @input-bg-disabled;
        cursor: not-allowed;
      }
    }
  }

  &-group {
    font-size: @font-size-small;
    color: @select-group-color;
    cursor: default;
  }

  &-option + &-group {
    &:before {
      content: '';
      position: absolute;
      left: @dropdown-padding-x;
      top: 0;
      right: 2px;
      border-top: 1px solid @select-split-color;
    }
  }

  &-control-mouse &-option:hover {
    background-color: @select-option-hover-bg;
    color: @select-option-hover-color;
    text-decoration: none;
  }

  &-control-mouse &-group:hover {
    color: @select-group-color;
  }

  &-control-mouse &-option&-disabled:hover {
    background: @input-bg-disabled;
  }

  &-control-keyboard &-option.@{select-prefix}-hover {
    background-color: @select-option-hover-bg;
    color: @select-option-hover-color;
    text-decoration: none;
  }

  &-control-keyboard &-option.@{select-prefix}-group.@{select-prefix}-hover {
    color: @select-group-color;
  }

  &-control-keyboard &-option {
    cursor: none;
  }

  span&-option {
    color: @gray-500;
  }

  &-small &-result {
    padding: @padding-small-vertical @padding-small-horizontal+12 0 @padding-small-horizontal;

    .@{select-prefix}-item,
    .@{select-prefix}-ellipsis,
    .@{select-prefix}-input {
      margin-bottom: @padding-small-vertical;
    }
  }

  &-large &-result {
    padding: @padding-large-vertical @padding-large-horizontal+12 0 @padding-large-horizontal;

    .@{select-prefix}-item,
    .@{select-prefix}-ellipsis,
    .@{select-prefix}-input {
      margin-bottom: @padding-large-vertical;
    }
  }

  &-multiple &-result {
    padding-left: @padding-base-horizontal / 2;
    padding-right: @padding-base-horizontal + 22;
    .@{select-prefix}-close-warpper {
      right: 17px;
    }
  }

  &-multiple &-compressed {
    padding-left: @padding-base-horizontal / 2;
    padding-right: @padding-base-horizontal + 12;
    .@{select-prefix}-close-warpper {
      right: 7px;
    }
  }

  &-large&-multiple &-result {
    padding-left: @padding-large-horizontal / 2;
  }

  &-small&-multiple &-result {
    padding-left: @padding-small-horizontal / 2;
  }

  &-disabled {
    .@{select-prefix}-result {
      cursor: not-allowed;
      .@{select-prefix}-item {
        padding-right: @select-result-space;
        background: @input-bg-disabled;

        .@{select-prefix}-close {
          display: none;
        }
      }
    }
  }

  &-root {
    position: absolute;
    top: 0;
    left: 0;
  }

  &-popover {
    .@{select-prefix}-result {
      padding: 14px 14px 8px 14px;
      max-height: 112px;
      max-width: 300px;

      .@{select-prefix}-item {
        max-width: 100%;
        color: @gray-600;
        font-size: 16px;
      }
    }
  }

  &-auto-adapt {
    .@{select-prefix}-options {
      width: auto;
    }
  }


  // for normal Select
  &-auto-adapt.@{select-prefix}-options {
    width: auto;
  }
}
