@import './variables.less';
@import './themes/@{so-theme}.less';

@table-prefix: ~"@{so-prefix}-table";

.@{table-prefix} {
  table {
    background-color: @table-bg;
    width: 100%;
    max-width: 100%;
    margin-bottom: @line-height-computed;
    border-collapse: collapse;
    border-spacing: 0;
    color: @table-color;
    // Cells
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          padding: @table-cell-padding;
          line-height: @line-height-base;
          vertical-align: top;
          border-top: 1px solid @table-border-color;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border-bottom: @table-head-border solid @table-border-color;
      background: @table-head-bg;
      color: @table-head-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: @table-head-border solid @table-border-color;
    }

    table {
      background-color: @body-bg;
    }
  }
  caption {
    padding-top: @table-cell-padding;
    padding-bottom: @table-cell-padding;
    color: @text-muted;
    text-align: left;
  }
  th {
    text-align: left;
  }
}