@import './variables.less';
@import './themes/@{so-theme}.less';

@tabs-prefix: ~"@{so-prefix}-tabs";

.@{tabs-prefix} {
  position: relative;

  &-header {
    border-bottom: solid 1px @tabs-border-color;
    div {
      display: inline-block;
      padding: @tabs-link-padding;
    }
  }

  &-panel {
    display: none;

    &.@{tabs-prefix}-show {
      display: block;
    }
  }
}