@import './variables.less';
@import './themes/@{so-theme}.less';

@tabs-prefix: ~"@{so-prefix}-tabs";

.@{tabs-prefix} {
  position: relative;

  &-header {
    border-bottom: solid 1px transparent;

    .@{tabs-prefix}-tab {
      position: relative;
      display: inline-block;
      padding: @tabs-link-padding;
      margin: 0 @tabs-link-spacing -1px 0;
      border: solid 1px transparent;
      border-radius: @tabs-link-border-radius @tabs-link-border-radius 0 0;
    }
  }

  &-panel {
    position: relative;
    display: none;

    &.@{tabs-prefix}-show {
      display: block;
    }
  }
}