@import './variables.less';
@import './themes/@{so-theme}.less';

@tree-prefix: ~"@{so-prefix}-tree";

.@{tree-prefix} {
  position: relative;

  &-node {
    position: relative;
    line-height: @line-height-base;
    padding-left: @tree-indicator-size;

    & > div {
      margin-bottom: 4px;
    }
  }

  &-line {
    position: absolute;
    left: @tree-indicator-size;
    top: 0;
    bottom: 4px;
    width: 16px;
    z-index: 0;

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  & > &-line {
    left: 0;
  }

  &-icon-plus, &-icon-sub {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;

    &:hover span {
      border-color: @colors-primary;
    }

    span {
      position: relative;
      width: 11px;
      height: 11px;
      display: inline-block;
      background: #fff;
      border-radius: 2px;
      border: solid 1px @tree-indicator-color;

      &:before {
        position: absolute;
        content: ' ';
        display: block;
        width: 7px;
        height: 0;
        border-bottom: solid 1px transparent;
        border-color: inherit;
        top: 4px;
        left: 1px;
      }
    }
  }

  &-icon-plus span {
    &:after {
      position: absolute;
      content: ' ';
      display: block;
      height: 7px;
      width: 0;
      border-right: solid 1px transparent;
      border-color: inherit;
      left: 4px;
      top: 1px;
    }
  }

  &-content {
    display: block;
  }
}