@import '../../styles/variables.less';
@import '../../styles/themes/@{so-theme}.less';

@watermark-prefix: ~"@{so-prefix}-watermark";

.@{watermark-prefix} {
  position: relative;
  overflow: hidden;
}
