.so-divider {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base, 14px);
  border-top: 1px solid var(--divider-color, #f0f0f0);
}
.so-divider-vertical {
  position: relative;
  top: -0.06em;
  display: inline-block;
  height: 0.9em;
  margin: 0 8px;
  vertical-align: middle;
  border-top: 0;
  border-left: 1px solid var(--divider-color, #f0f0f0);
}
.so-divider-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
}
.so-divider-horizontal.so-divider-with-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 16px 0;
  color: var(--gray-900, #212529);
  white-space: nowrap;
  text-align: center;
  border-top: 0;
  border-top-color: var(--divider-color, #f0f0f0);
}
.so-divider-horizontal.so-divider-with-text::before,
.so-divider-horizontal.so-divider-with-text::after {
  position: relative;
  top: 50%;
  width: 50%;
  border-top: 1px solid transparent;
  border-top-color: inherit;
  border-bottom: 0;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  content: '';
}
.so-divider-horizontal.so-divider-with-text-left::before {
  top: 50%;
  width: 5%;
}
.so-divider-horizontal.so-divider-with-text-left::after {
  top: 50%;
  width: 95%;
}
.so-divider-horizontal.so-divider-with-text-right::before {
  top: 50%;
  width: 95%;
}
.so-divider-horizontal.so-divider-with-text-right::after {
  top: 50%;
  width: 5%;
}
.so-divider-inner-text {
  display: inline-block;
  padding: 0 1em;
}
