.so-card-group-scroller {
  height: 100%;
  overflow: auto;
}
.so-card-group-scroller .so-card-group-grid {
  padding: 0;
  display: grid;
}
.so-card-group-scroller .so-card-group-grid .so-card-group-item {
  border-radius: 8px;
  background: #ffffff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(20, 23, 55, 0.05);
          box-shadow: 0 4px 8px 0 rgba(20, 23, 55, 0.05);
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
}
.so-card-group-scroller .so-card-group-grid .so-card-group-item .so-card-group-checkbox {
  position: absolute;
  right: 12px;
  top: 12px;
  margin: 0;
}
.so-card-group-scroller .so-card-group-grid .so-card-group-item:hover {
  -webkit-box-shadow: 0 4px 12px 0 rgba(20, 23, 55, 0.15);
          box-shadow: 0 4px 12px 0 rgba(20, 23, 55, 0.15);
}
