.so-list {
  display: block;
}
.so-list-absolute-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
}
.so-list-rtl {
  direction: rtl;
  text-align: start;
}
.so-list-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-base, 14px);
  line-height: 22px;
  list-style: none;
  color: var(--gray-700, #495057);
}
.so-list-container .so-list-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: relative;
  padding: 12px;
}
.so-list-container .so-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: var(--list-item-bottom-border-width, 1px);
  background-color: var(--gray-200, #e9ecef);
}
.so-list-container .so-list-item.so-list-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.so-list-container .so-list-item .so-list-meta-container,
.so-list-container .so-list-item .so-list-meta.so-list-includes {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.so-list-container .so-list-item .so-list-meta-container .so-list-meta-avatar,
.so-list-container .so-list-item .so-list-meta.so-list-includes .so-list-meta-avatar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.so-list-container .so-list-item .so-list-meta-container .so-list-meta-title,
.so-list-container .so-list-item .so-list-meta.so-list-includes .so-list-meta-title {
  font-weight: 600;
}
.so-list-container .so-list-item .so-list-meta-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 12px;
}
.so-list-container.so-list-fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  max-height: 100%;
}
.so-list-container.so-list-fixed .so-list-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.so-list-container .so-list-list.so-list-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.so-list-container .so-list-item.so-list-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.so-list-container.so-list-bordered {
  border: var(--list-item-bottom-border-width, 1px) solid var(--gray-200, #e9ecef);
  border-radius: 4px;
}
.so-list-container .so-list-footer {
  position: relative;
}
.so-list-container .so-list-footer::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: var(--list-item-bottom-border-width, 1px);
  background-color: var(--gray-200, #e9ecef);
}
.so-list-container .so-list-loading {
  position: absolute;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
}
.so-list-base {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.so-list-base .so-list-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.so-list-base .so-list-extra .so-list-split {
  width: var(--list-item-bottom-border-width, 1px);
  height: 16px;
  background-color: var(--gray-200, #e9ecef);
}
.so-list-base .so-button + .so-button:not(so-button-rtl) {
  margin-left: 0;
}
.so-list-base .so-button + .so-button.so-button-rtl {
  margin-right: 0;
}
.so-list-container.so-list-small .so-list-item {
  padding: 8px;
}
.so-list-container.so-list-small .so-list-item .so-list-meta-container .so-list-meta-avatar,
.so-list-container.so-list-small .so-list-item .so-list-meta.so-list-includes .so-list-meta-avatar {
  width: 32px;
  height: 32px;
}
.so-list-container.so-list-large .so-list-item {
  padding: 16px;
}
.so-list-container.so-list-large .so-list-item .so-list-meta-container .so-list-meta-avatar,
.so-list-container.so-list-large .so-list-item .so-list-meta.so-list-includes .so-list-meta-avatar {
  width: 64px;
  height: 64px;
}
.so-list-container.so-list-rtl {
  direction: rtl;
  text-align: right;
}
.so-list-container.so-list-rtl .so-list-item .so-list-meta-container .so-list-meta-avatar {
  margin-right: 0;
  margin-left: 12px;
}
