@import './variables.less';

a:active, a:focus {
  text-decoration: none;
}

.doc-main {
  &-header {
    height: 45px;
    background: @brand-primary;
  }

  &-body {
    display: flex;
  }

  &-menu {
    width: 240px;
  }

  &-page {
    flex: 1;
    padding: 0 50px 50px;
  }
}