@import '../../styles/variables.less';

.doc-example {
  position: relative;
  border: solid 1px @doc-border-color;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 40px;
  background: #fff;
  overflow: visible;
  // box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.1);

  &-title {
    color: @gray-500;
    font-style: italic;
    font-size: 16px;
    padding: 16px;
    font-weight: 300;
  }

  &-sub-title {
    font-size: 14px;
    font-style: normal;
    margin-top: 8px;
    color: @gray-600;
  }

  &-toggle {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    font-size: 12px;
    display: block;
    color: @gray-500;
    font-style: normal;
  }

  &-body {
    padding: 16px 32px;
  }

  &-code {
    position: relative;
    border-radius: 0;
    height: 0;
    overflow: hidden;

    & > pre {
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
      margin: 0 0 10px;
    }

    & > a {
      top: auto;
      bottom: 0;
      display: none;
    }
  }

  &-showcode &-code {
    border-top: dashed 1px #e5e5e5;
    border-bottom: dashed 1px #e5e5e5;
    transition: height 0.24s linear;

    & > a {
      display: inline;
    }
  }

  button + button {
    margin-left: 8px;
  }
}