.so-icon {
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  text-rendering: auto;
}
.so-icon-small {
  font-size: 12px;
}
.so-icon-large {
  font-size: 20px;
}
.so-icon-primary {
  color: var(--primary-color, #3399ff);
}
.so-icon-success {
  color: var(--success-color, #00cc66);
}
.so-icon-secondary {
  color: var(--secondary-color, #999999);
}
.so-icon-info {
  color: var(--info-color, #17a2b8);
}
.so-icon-warning {
  color: var(--warning-color, #ff9900);
}
.so-icon-danger {
  color: var(--danger-color, #f85555);
}
.so-icon-svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
