.doc-markdown {
  padding: 30px 200px 0 0;
  -ms-flex: 1;
      flex: 1;
}
.doc-markdown > h1,
.doc-markdown > h2,
.doc-markdown > h3 {
  font-weight: normal;
}
.doc-markdown > h1 em,
.doc-markdown > h2 em,
.doc-markdown > h3 em {
  font-size: 0.75em;
}
.doc-markdown > h1 em {
  font-weight: normal;
  font-style: normal;
  color: #555;
}
.doc-markdown > h2 {
  margin: 40px 0;
  padding-top: 20px;
}
.doc-markdown > h3 {
  position: relative;
  color: #6c757d;
  font-size: 18px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  line-height: 1;
}
.doc-markdown > h3:before {
  content: ' ';
  position: absolute;
  width: 3px;
  left: 0;
  top: 20px;
  bottom: 0px;
  background: linear-gradient(to bottom, #3023AE, #53A0FD 40%, #51ECBF);
}
.doc-markdown pre {
  background: #fff;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0 0 20px;
  background: #f2f3f4;
}
.doc-markdown pre + pre {
  margin-top: -21px;
}
.doc-markdown > pre {
  border-radius: 2px;
}
.doc-markdown > table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #ddd;
  background: #fff;
}
.doc-markdown > table th {
  text-align: left;
  white-space: nowrap;
  background: #f5f5f5;
}
.doc-markdown > table td,
.doc-markdown > table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 12px 20px;
  border: 1px solid #ddd;
  border-width: 0 0 1px 1px;
}
pre + .doc-markdown-console {
  margin-top: -21px;
}
.doc-markdown-console {
  position: relative;
  padding: 6px 8px;
  background: #fff;
  border-bottom: solid 1px #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  color: #888;
}
.doc-markdown-console div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.doc-markdown-console pre {
  background: #fff;
  margin: 0;
  -ms-flex: 1;
      flex: 1;
}
.doc-markdown-console:before {
  content: '>';
  color: #dee2e6;
  margin-right: 8px;
}

.doc-example {
  position: relative;
  border-radius: 2px;
  background: #fff;
  overflow: visible;
  margin-bottom: 40px;
  max-width: 100%;
}
.doc-example-toggle {
  position: absolute;
  right: 6px;
  bottom: 2px;
  padding: 4px 8px;
  font-size: 16px;
  display: block;
  color: #adb5bd;
  font-style: normal;
}
.doc-example-desc {
  position: relative;
  background: #f2f3f4;
  font-size: 12px;
  min-height: 50px;
  padding: 15px 60px 15px 20px;
}
.doc-example-desc .doc-example-toggle {
  top: 10px;
  bottom: auto;
}
.doc-example-body {
  position: relative;
  padding: 30px 20px;
}
.doc-example-code {
  position: relative;
  border-radius: 0;
  height: 0;
  overflow: hidden;
}
.doc-example-code pre {
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0 0 10px;
}
.doc-example-code > a {
  top: auto;
  bottom: 0;
  display: none;
}
.doc-example-showcode .doc-example-code {
  border-top: dashed 1px #ccc;
  transition: height 0.24s linear;
}
.doc-example-showcode .doc-example-code > a {
  display: inline;
}
.doc-example-placeholder {
  padding: 100px 0;
  background: #f7f7f7;
  border: solid 1px #eee;
  text-align: center;
  margin-bottom: 20px;
}
h3 + .doc-example {
  border-top: solid 1px #f0f0f0;
}

.doc-nav {
  position: relative;
  margin: 0 auto;
}
.doc-nav-sticky {
  position: absolute;
  top: 60px;
  width: 160px;
  right: 0;
}
.doc-nav-nav {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}
.doc-nav-nav a {
  position: relative;
  color: #333;
  display: block;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px;
  text-decoration: none;
}
.doc-nav-nav a:hover {
  color: #3399FF;
}
.doc-nav-nav a.doc-nav-active {
  color: #3399FF;
}
.doc-nav-nav a.doc-nav-active:before {
  content: ' ';
  position: absolute;
  left: 6px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #3399FF;
}
a.doc-nav-level-2 {
  font-size: 16px;
  font-weight: 300;
  color: #666;
  margin: 30px 0 12px;
}
a.doc-nav-level-2:first-child {
  margin-top: 0;
}
.doc-nav-level-3 {
  padding-left: 12px;
}

