.so-datepicker:focus {
  outline: none;
}
label.so-datepicker {
  display: inline-block;
  width: 150px;
}
label.so-datepicker-c-datetime {
  width: 240px;
}
label.so-datepicker-c-time,
label.so-datepicker-c-year {
  width: 120px;
}
label.so-datepicker-r-date,
label.so-datepicker-r-week,
label.so-datepicker-r-quarter,
label.so-datepicker-r-month {
  width: 300px;
}
label.so-datepicker-r-datetime {
  width: 420px;
}
label.so-datepicker-r-time {
  width: 250px;
}
label.so-datepicker-r-year {
  width: 240px;
}
.so-datepicker-title {
  padding: 0 0 8px 0;
  text-align: center;
}
.so-datepicker-title-box > .so-input-title-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.so-datepicker-range .so-datepicker-title-box .so-datepicker-txt:not(.so-datepicker-text-focus) {
  background: var(--primary-color-fade-5, rgba(51, 153, 255, 0.05));
  border-radius: 50px;
}
.so-datepicker-inner {
  width: 100%;
  padding: 6px 24px 6px 12px;
  outline: none;
  cursor: pointer;
}
.so-datepicker-rtl.so-datepicker-inner {
  padding: 6px 12px 6px 24px;
}
.so-datepicker-size-small.so-datepicker-inner {
  padding: 5px 22px 5px 10px;
}
.so-datepicker-rtl.so-datepicker-size-small.so-datepicker-inner {
  padding: 5px 10px 5px 22px;
}
.so-datepicker-size-large.so-datepicker-inner {
  padding: 8px 28px 8px 16px;
}
.so-datepicker-rtl.so-datepicker-size-large.so-datepicker-inner {
  padding: 8px 16px 8px 28px;
}
.so-datepicker-inner-title {
  padding: 4px 20px 4px 8px;
}
.so-datepicker-rtl.so-datepicker-inner-title {
  padding: 4px 8px 4px 20px;
}
.so-datepicker-size-small.so-datepicker-inner-title {
  padding: 2px 20px 2px 8px;
}
.so-datepicker-rtl.so-datepicker-size-small.so-datepicker-inner-title {
  padding: 2px 8px 2px 20px;
}
.so-datepicker-size-large.so-datepicker-inner-title {
  padding: 4px 20px 4px 8px;
}
.so-datepicker-rtl.so-datepicker-size-large.so-datepicker-inner-title {
  padding: 4px 8px 4px 20px;
}
.so-datepicker-result {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.so-datepicker-result .so-datepicker-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  margin: -9px -16px 0 0;
  font-size: 14px;
}
.so-datepicker-rtl .so-datepicker-result .so-datepicker-icon {
  right: auto;
  left: 0;
  margin-right: 0;
  margin-left: -16px;
}
.so-datepicker-result .so-datepicker-icon path {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  fill: var(--gray-500, #adb5bd);
}
.so-datepicker-result .so-datepicker-close {
  display: none;
}
.so-datepicker-result .so-datepicker-close:hover path {
  fill: var(--gray-700, #495057);
}
.so-datepicker-result .so-datepicker-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
}
.so-datepicker-result .so-datepicker-txt:after {
  content: '\feff ';
}
.so-datepicker-disabled .so-datepicker-result {
  cursor: not-allowed;
}
.so-datepicker-range .so-datepicker-result .so-datepicker-txt {
  text-align: center;
}
.so-datepicker-txt[contenteditable="true"] {
  cursor: text;
}
.so-datepicker-separate {
  margin: 0 8px;
}
.so-datepicker-txt.so-datepicker-text-focus {
  background: var(--primary-color, #3399ff);
  color: #fff;
  border-radius: 50px;
}
.so-datepicker:hover .so-datepicker-result .so-datepicker-indecator {
  display: none;
}
.so-datepicker:hover .so-datepicker-result .so-datepicker-close {
  display: block;
}
.so-datepicker-picker {
  position: absolute;
  z-index: 1000;
  padding: 12px;
  color: var(--input-text-color, #333E59);
  background: #fff;
  background-clip: padding-box;
  border-radius: var(--input-dropdown-border-radius, 4px);
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 6px 12px rgba(0, 0, 0, 0.175);
  font-size: var(--font-size-base, 14px);
}
.so-datepicker-picker.so-datepicker-quick-ltr {
  padding-left: 0;
}
.so-datepicker-picker.so-datepicker-quick-rtl {
  padding-right: 0;
}
.so-datepicker-picker span {
  color: var(--gray-600, #6c757d);
}
.so-datepicker-picker .so-datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 8px;
}
.so-datepicker-picker .so-datepicker-header span {
  cursor: pointer;
  line-height: 1;
}
.so-datepicker-picker .so-datepicker-header span:hover {
  color: var(--primary-color, #3399ff);
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-icon {
  width: 18px;
  height: 16px;
  padding: 0 4px;
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-icon path {
  fill: var(--gray-600, #6c757d);
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-icon:hover path {
  fill: var(--primary-color, #3399ff);
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-icon.so-datepicker-disabled {
  cursor: not-allowed;
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-icon.so-datepicker-disabled path {
  fill: var(--gray-400, #ced4da);
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-ym {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-ym span {
  padding: 0 6px;
}
.so-datepicker-picker .so-datepicker-header .so-datepicker-ym + .so-datepicker-ym {
  text-align: left;
  text-align: start;
}
.so-datepicker-picker span.so-datepicker-today {
  color: var(--primary-color, #3399ff);
  background: transparent;
  -webkit-box-shadow: 0 0 0 1px var(--primary-color, #3399ff) inset;
          box-shadow: 0 0 0 1px var(--primary-color, #3399ff) inset;
}
.so-datepicker-picker .so-datepicker-list span:hover {
  background: var(--datepicker-day-hover-bgc, var(--gray-100, #f8f9fa));
  color: #000;
}
.so-datepicker-picker .so-datepicker-list span:hover.so-datepicker-today {
  background: transparent;
  color: var(--primary-color, #3399ff);
}
.so-datepicker-picker span.so-datepicker-active,
.so-datepicker-picker span.so-datepicker-active:hover {
  background: var(--primary-color, #3399ff);
  color: #fff;
}
.so-datepicker-picker span.so-datepicker-active:hover.so-datepicker-today {
  background: var(--primary-color, #3399ff);
  color: #fff;
}
.so-datepicker-left-bottom .so-datepicker-picker {
  top: 100%;
  left: 0;
  margin-top: 4px;
}
.so-datepicker-left-top .so-datepicker-picker {
  bottom: 100%;
  left: 0;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
}
.so-datepicker-right-top .so-datepicker-picker {
  right: 0;
  bottom: 100%;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
}
.so-datepicker-right-bottom .so-datepicker-picker {
  top: 100%;
  right: 0;
  margin-top: 4px;
}
.so-datepicker-day-picker,
.so-datepicker-month-picker,
.so-datepicker-quarter-picker,
.so-datepicker-year-picker {
  width: 252px;
}
.so-datepicker-day-picker span,
.so-datepicker-month-picker span,
.so-datepicker-quarter-picker span,
.so-datepicker-year-picker span {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.so-datepicker-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.so-datepicker-range-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.so-datepicker-range-picker > div:nth-last-child(2) {
  margin-right: 12px;
}
.so-datepicker-rtl .so-datepicker-range-picker > div:nth-last-child(2) {
  margin-right: 0;
  margin-left: 12px;
}
.so-datepicker-range-picker > div:last-child {
  position: relative;
}
.so-datepicker-range-picker > div:last-child:before {
  content: ' ';
  position: absolute;
  left: -6px;
  height: 100%;
  border-left: 1px solid var(--divider-color, #f0f0f0);
}
.so-datepicker-rtl .so-datepicker-range-picker > div:last-child:before {
  left: auto;
  right: -6px;
}
.so-datepicker-day-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.so-datepicker-day-picker .so-datepicker-week {
  margin-bottom: 4px;
  border-bottom: solid 1px #f2f2f2;
  text-align: center;
}
.so-datepicker-day-picker .so-datepicker-week span {
  display: inline-block;
  width: 28px;
  margin: 8px 4px;
}
.so-datepicker-day-picker .so-datepicker-list {
  position: relative;
  z-index: 10;
  background: #fff;
  text-align: center;
}
.so-datepicker-day-picker .so-datepicker-list div {
  display: inline-block;
  width: 36px;
  height: 32px;
  padding: 2px 0;
  margin-bottom: 4px;
}
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-hover,
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-active {
  background: var(--datepicker-day-hover-bgc, var(--gray-100, #f8f9fa));
}
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-hover-start {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.so-datepicker-rtl .so-datepicker-day-picker .so-datepicker-list div.so-datepicker-hover-start {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-hover-end {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}
.so-datepicker-rtl .so-datepicker-day-picker .so-datepicker-list div.so-datepicker-hover-end {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-active.so-datepicker-hover-start span,
.so-datepicker-day-picker .so-datepicker-list div.so-datepicker-active.so-datepicker-hover-end span {
  background: var(--primary-color, #3399ff);
  color: #fff;
}
.so-datepicker-day-picker .so-datepicker-list span {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  border-radius: 14px;
  cursor: pointer;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
}
.so-datepicker-day-picker .so-datepicker-list .so-datepicker-disabled {
  color: var(--gray-400, #ced4da);
  cursor: not-allowed;
}
.so-datepicker-day-picker .so-datepicker-list .so-datepicker-disabled.so-datepicker-today {
  -webkit-box-shadow: 0 0 0 1px var(--gray-400, #ced4da) inset;
          box-shadow: 0 0 0 1px var(--gray-400, #ced4da) inset;
}
.so-datepicker-day-picker .so-datepicker-list .so-datepicker-disabled.so-datepicker-today:hover {
  color: var(--gray-400, #ced4da);
}
.so-datepicker-day-picker .so-datepicker-list .so-datepicker-other-month {
  color: var(--gray-400, #ced4da);
}
.so-datepicker-day-picker .so-datepicker-datetime {
  position: relative;
  padding-top: 12px;
  padding-left: 12px;
  border-top: solid 1px #f2f2f2;
}
.so-datepicker-rtl .so-datepicker-day-picker .so-datepicker-datetime {
  padding-left: 0px;
  padding-right: 12px;
}
.so-datepicker-day-picker .so-datepicker-datetime .so-datepicker-clock {
  fill: var(--gray-600, #6c757d);
  margin-right: 8px;
  position: relative;
  top: 2px;
}
.so-datepicker-rtl .so-datepicker-day-picker .so-datepicker-datetime .so-datepicker-clock {
  margin-right: 0;
  margin-left: 8px;
}
.so-datepicker-day-picker .so-datepicker-datetime .so-datepicker-clock > svg {
  width: 14px;
  height: 14px;
}
.so-datepicker-day-picker .so-datepicker-datetime .so-datepicker-time-picker {
  position: absolute;
  z-index: 0;
  bottom: 100%;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
  visibility: hidden;
}
.so-datepicker-rtl .so-datepicker-day-picker .so-datepicker-datetime .so-datepicker-time-picker {
  left: auto;
  right: 0;
}
.so-datepicker-day-picker .so-datepicker-datetime:hover .so-datepicker-time-picker {
  z-index: 100;
  visibility: visible;
}
.so-datepicker-month-picker .so-datepicker-list {
  padding-top: 12px;
  text-align: center;
}
.so-datepicker-month-picker .so-datepicker-list span {
  display: inline-block;
  width: 70px;
  padding: 4px 6px;
  margin: 6px 5px;
  border-radius: var(--datepicker-rect-active-border-radius, 2px);
  cursor: pointer;
}
.so-datepicker-month-picker .so-datepicker-list .so-datepicker-disabled {
  color: var(--gray-400, #ced4da);
  cursor: not-allowed;
}
.so-datepicker-quarter-picker .so-datepicker-list {
  padding-top: 12px;
  text-align: center;
  white-space: nowrap;
}
.so-datepicker-quarter-picker .so-datepicker-list > div {
  display: inline-block;
  width: 25%;
  padding: 0 5px;
  margin: 5px 0;
  position: relative;
}
.so-datepicker-quarter-picker .so-datepicker-list > div > span {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-radius: var(--datepicker-rect-active-border-radius, 2px);
  cursor: pointer;
}
.so-datepicker-quarter-picker .so-datepicker-list .so-datepicker-disabled {
  color: var(--gray-400, #ced4da);
  cursor: not-allowed;
}
.so-datepicker-year-picker .so-datepicker-list {
  padding-top: 12px;
  text-align: center;
}
.so-datepicker-year-picker .so-datepicker-list span {
  display: inline-block;
  width: 50px;
  padding: 4px 6px;
  margin: 4px 15px;
  border-radius: var(--datepicker-rect-active-border-radius, 2px);
  cursor: pointer;
}
.so-datepicker-year-picker .so-datepicker-list .so-datepicker-disabled {
  color: var(--gray-400, #ced4da);
  cursor: not-allowed;
}
.so-datepicker-time-picker {
  width: auto;
  font-size: 0;
  white-space: nowrap;
}
.so-datepicker-time-picker .so-datepicker-time-list {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 65px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px var(--gray-200, #e9ecef);
  background: linear-gradient(to bottom, var(--gray-100, #f8f9fa), var(--gray-100, #f8f9fa), 30px, transparent 30px, transparent) 0 60px;
  font-size: var(--font-size-base, 14px);
  text-align: left;
}
.so-datepicker-rtl .so-datepicker-time-picker .so-datepicker-time-list {
  text-align: right;
}
.so-datepicker-time-picker .so-datepicker-time-list:last-child {
  border-right: 0;
}
.so-datepicker-rtl .so-datepicker-time-picker .so-datepicker-time-list:last-child {
  border-right: 1px solid var(--gray-200, #e9ecef);
}
.so-datepicker-rtl .so-datepicker-time-picker .so-datepicker-time-list:first-child {
  border-right: 0;
}
.so-datepicker-time-picker .so-datepicker-time-list .so-datepicker-pad {
  height: 60px;
}
.so-datepicker-time-picker .so-datepicker-time-list span,
.so-datepicker-time-picker .so-datepicker-time-list a {
  display: block;
  padding-left: 18px;
  color: #eee;
  line-height: 30px;
  height: 30px;
}
.so-datepicker-rtl .so-datepicker-time-picker .so-datepicker-time-list span,
.so-datepicker-rtl .so-datepicker-time-picker .so-datepicker-time-list a {
  padding-left: 0;
  padding-right: 18px;
}
.so-datepicker-time-picker .so-datepicker-time-list .so-datepicker-time-active {
  color: #000;
  font-weight: bold;
}
.so-datepicker-time-picker .so-datepicker-time-list:hover {
  overflow: auto;
}
.so-datepicker-absolute .so-datepicker-absolute-left-top {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
}
.so-datepicker-absolute .so-datepicker-absolute-right-top {
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.02), 0 -2px 12px rgba(0, 0, 0, 0.175);
}
.so-datepicker-quick-select {
  min-width: 80px;
  border-right: 1px solid var(--divider-color, #f0f0f0);
}
.so-datepicker-rtl .so-datepicker-quick-select {
  border-right: none;
  border-left: 1px solid var(--divider-color, #f0f0f0);
}
.so-datepicker-quick-select-item {
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 4px 12px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.so-datepicker-quick-select-item:hover {
  background: var(--primary-color-fade-10, rgba(51, 153, 255, 0.1));
}
.so-datepicker-quick-select-item::after {
  content: '';
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
  background: var(--primary-color, #3399ff);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
}
.so-datepicker-rtl .so-datepicker-quick-select-item::after {
  right: auto;
  left: 0;
}
.so-datepicker-quick-select-item-active {
  color: var(--primary-color, #3399ff);
}
.so-datepicker-quick-select-item-active:after {
  opacity: 1;
}
.so-datepicker-align-left .so-datepicker-result,
.so-datepicker-align-right .so-datepicker-result {
  display: block;
}
.so-datepicker-align-left .so-datepicker-result .so-datepicker-txt,
.so-datepicker-align-right .so-datepicker-result .so-datepicker-txt {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.so-datepicker-align-left .so-datepicker-result .so-datepicker-txt.so-datepicker-text-focus,
.so-datepicker-align-right .so-datepicker-result .so-datepicker-txt.so-datepicker-text-focus {
  background: transparent;
  color: var(--primary-color, #3399ff);
  border-radius: 0;
}
.so-datepicker-align-right .so-datepicker-result {
  text-align: right;
}
.so-datepicker-align-center .so-datepicker-result {
  text-align: center;
}
.so-datepicker-rtl {
  direction: rtl;
  text-align: right;
}
.so-datepicker-rtl .so-datepicker-picker .so-datepicker-header .so-datepicker-left,
.so-datepicker-rtl .so-datepicker-picker .so-datepicker-header .so-datepicker-right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
