.so-spin-default {
  position: relative;
  margin: auto;
}
@-webkit-keyframes so-spin-default-scale {
  0%,
  80%,
  100% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes so-spin-default-scale {
  0%,
  80%,
  100% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  40% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes so-spin-default-fade {
  0%,
  39%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
@keyframes so-spin-default-fade {
  0%,
  39%,
  100% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}
.so-spin-default-item {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 50%;
  -webkit-transform-origin: 50% 100%;
      -ms-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
}
.so-spin-default-item div {
  height: 55%;
  margin: 0 auto;
  -webkit-animation: so-spin-default-fade 1s infinite ease-in-out both;
          animation: so-spin-default-fade 1s infinite ease-in-out both;
}
.so-spin-default-scale svg,
.so-spin-default-scale div {
  -webkit-animation: so-spin-default-scale 1s infinite ease-in-out both;
          animation: so-spin-default-scale 1s infinite ease-in-out both;
}
.so-spin-default-fade svg,
.so-spin-default-fade div {
  -webkit-animation: so-spin-default-fade 1s infinite ease-in-out both;
          animation: so-spin-default-fade 1s infinite ease-in-out both;
}
.so-spin-default .so-spin-default-item:nth-child(2) {
  -webkit-transform: rotateZ(30deg);
      -ms-transform: rotate(30deg);
          transform: rotateZ(30deg);
}
.so-spin-default .so-spin-default-item:nth-child(2) svg,
.so-spin-default .so-spin-default-item:nth-child(2) div {
  -webkit-animation-delay: -0.91666667s;
          animation-delay: -0.91666667s;
}
.so-spin-default .so-spin-default-item:nth-child(3) {
  -webkit-transform: rotateZ(60deg);
      -ms-transform: rotate(60deg);
          transform: rotateZ(60deg);
}
.so-spin-default .so-spin-default-item:nth-child(3) svg,
.so-spin-default .so-spin-default-item:nth-child(3) div {
  -webkit-animation-delay: -0.83333333s;
          animation-delay: -0.83333333s;
}
.so-spin-default .so-spin-default-item:nth-child(4) {
  -webkit-transform: rotateZ(90deg);
      -ms-transform: rotate(90deg);
          transform: rotateZ(90deg);
}
.so-spin-default .so-spin-default-item:nth-child(4) svg,
.so-spin-default .so-spin-default-item:nth-child(4) div {
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}
.so-spin-default .so-spin-default-item:nth-child(5) {
  -webkit-transform: rotateZ(120deg);
      -ms-transform: rotate(120deg);
          transform: rotateZ(120deg);
}
.so-spin-default .so-spin-default-item:nth-child(5) svg,
.so-spin-default .so-spin-default-item:nth-child(5) div {
  -webkit-animation-delay: -0.66666667s;
          animation-delay: -0.66666667s;
}
.so-spin-default .so-spin-default-item:nth-child(6) {
  -webkit-transform: rotateZ(150deg);
      -ms-transform: rotate(150deg);
          transform: rotateZ(150deg);
}
.so-spin-default .so-spin-default-item:nth-child(6) svg,
.so-spin-default .so-spin-default-item:nth-child(6) div {
  -webkit-animation-delay: -0.58333333s;
          animation-delay: -0.58333333s;
}
.so-spin-default .so-spin-default-item:nth-child(7) {
  -webkit-transform: rotateZ(180deg);
      -ms-transform: rotate(180deg);
          transform: rotateZ(180deg);
}
.so-spin-default .so-spin-default-item:nth-child(7) svg,
.so-spin-default .so-spin-default-item:nth-child(7) div {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.so-spin-default .so-spin-default-item:nth-child(8) {
  -webkit-transform: rotateZ(210deg);
      -ms-transform: rotate(210deg);
          transform: rotateZ(210deg);
}
.so-spin-default .so-spin-default-item:nth-child(8) svg,
.so-spin-default .so-spin-default-item:nth-child(8) div {
  -webkit-animation-delay: -0.41666667s;
          animation-delay: -0.41666667s;
}
.so-spin-default .so-spin-default-item:nth-child(9) {
  -webkit-transform: rotateZ(240deg);
      -ms-transform: rotate(240deg);
          transform: rotateZ(240deg);
}
.so-spin-default .so-spin-default-item:nth-child(9) svg,
.so-spin-default .so-spin-default-item:nth-child(9) div {
  -webkit-animation-delay: -0.33333333s;
          animation-delay: -0.33333333s;
}
.so-spin-default .so-spin-default-item:nth-child(10) {
  -webkit-transform: rotateZ(270deg);
      -ms-transform: rotate(270deg);
          transform: rotateZ(270deg);
}
.so-spin-default .so-spin-default-item:nth-child(10) svg,
.so-spin-default .so-spin-default-item:nth-child(10) div {
  -webkit-animation-delay: -0.25s;
          animation-delay: -0.25s;
}
.so-spin-default .so-spin-default-item:nth-child(11) {
  -webkit-transform: rotateZ(300deg);
      -ms-transform: rotate(300deg);
          transform: rotateZ(300deg);
}
.so-spin-default .so-spin-default-item:nth-child(11) svg,
.so-spin-default .so-spin-default-item:nth-child(11) div {
  -webkit-animation-delay: -0.16666667s;
          animation-delay: -0.16666667s;
}
.so-spin-default .so-spin-default-item:nth-child(12) {
  -webkit-transform: rotateZ(330deg);
      -ms-transform: rotate(330deg);
          transform: rotateZ(330deg);
}
.so-spin-default .so-spin-default-item:nth-child(12) svg,
.so-spin-default .so-spin-default-item:nth-child(12) div {
  -webkit-animation-delay: -0.08333333s;
          animation-delay: -0.08333333s;
}
