.so-double-bounce {
  position: relative;
  margin: auto;
}
@-webkit-keyframes so-double-bounce-spin {
  0%,
  100% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes so-double-bounce-spin {
  0%,
  100% {
    -webkit-transform: scale3d(0, 0, 1);
            transform: scale3d(0, 0, 1);
  }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
.so-double-bounce-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: so-double-bounce-spin 2s infinite ease-in-out;
          animation: so-double-bounce-spin 2s infinite ease-in-out;
  border-radius: 50%;
  opacity: 0.6;
}
.so-double-bounce-item:last-child {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
